@*Kiều nè*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Trang chủ</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <!--Link of ColoShop template-->
    <link rel="stylesheet" type="text/css" href="~/homepage/styles/bootstrap4/bootstrap.min.css">
    <link href="~/homepage/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/homepage/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/homepage/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/homepage/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/homepage/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/homepage/styles/responsive.css"> 
    <link rel="stylesheet" type="text/css" href="~/homepage/styles/kieuheader.css">
    <!--Link Font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>


    <div class="colorlib-about">
        <div class="container">
            <div class="row row-pb-lg">
                <div class="col-sm-6 mb-3">
                    <img src="https://media.vneconomy.vn/images/upload/2022/12/12/1-5.jpg" style="width:90%;height:90%;">
                </div>
                <div class="col-sm-6">
                    <div class="about-wrap">
                        <h2>Triết lý thương hiệu</h2>
                        <br>
                        <p><i>COCOON - Mỹ phẩm thuần chay - Cho nét đẹp thuần Việt</i></p>
                        </br>
                        <br>
                        <p><b>Triết lý</b></p>
                        </br>
                        <p>
                            Chúng tôi là những người yêu thiên nhiên, luôn say đắm trong việc khám phá các nguyên liệu quen thuộc trong đời sống hằng ngày
                            của người Việt Nam từ rau củ, trái cây, để làm sao để đưa chúng vào trong các sản phẩm mỹ phẩm mà các chất dinh dưỡng của
                            chúng được giữ lại một cách nguyên vẹn và hoàn hảo. Những thực phẩm này rất giàu vitamin, chất chống oxi hóa và các khoáng chất
                            để tăng cường sức khỏe của làn da. Vậy còn gì tuyệt vời hơn là đưa chúng lên làn da của bạn một cách trọn vẹn nhất có thể.
                            Qua quá trình nghiên cứu và thử nghiệm, những công thức được hình thành và trở nên hoàn hảo.
                            Chúng đã phát huy tác dụng và đáp ứng được mong mỏi của người Việt: an toàn và hiệu quả.
                            Đối với chúng tôi, những gì đưa lên da phải an toàn, hiệu quả và không có nguồn gốc từ động vật
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5">
        <div class="col-sm-12 text-center">
            <h2 class="intro"><i>Sản phẩm BÁN CHẠY</i></h2>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Bán chạy</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4389429065638_b60ed2b6d36dff465ef63a864aad8755_6884fdbae1.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Tinh dầu bưởi</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">165.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Bán chạy</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/Artboard_48_eb4d856178.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Mặt nạ nghệ Hưng Yên</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">345.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Bán chạy</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z5322301407365_da64ee4ef34e8f8c85194a8b3967f354_db4782bf9d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Nước tẩy trang bí đao</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">295.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Bán chạy</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4147355364575_e4b88c65711b8261d9c996e6797b60a1_83f203bec3.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Tẩy tế bào chết cà phê Đắk Lắk</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">99.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-sm-12 text-center">
        <h2 class="intro"><i>Sản phẩm MỚI</i></h2>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Mới</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/Ecom_Skin_BD_Sua_chong_nang_bi_dao_50ml_01_01_9df155e3a1.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sữa chống nắng bí đao 15ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Thành phần chính gồm các màng lọc UV thế hệ mới, chiết xuất bí đao, Synoxyl AZ và Melanin

                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">155.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Mới</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4417151559351_bec04dd495bd915a3bf3fefa4cbdbf86_1_e17ffa4ca8.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Dầu gội bưởi không sulfate 500ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Thành phần gồm có tinh dầu bưởi, Vitamin B5, Xylishine™ và Axít amin
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">375.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Mới</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4144217404386_2fad2f6b8b47c1047f6e4e0728a96b04_af02e68c7c.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Gel rửa mặt cà phê Đắk Lắk 310ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Thành phần gồm có dầu cà phê, caffeine & các axít amin.
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">295.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Mới</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4389429065638_b60ed2b6d36dff465ef63a864aad8755_6884fdbae1.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Nước dưỡng tóc tinh dầu bưởi 140ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Thành phần gồm có tinh dầu vỏ bưởi nguyên chất, Vitamin B5 (Panthenol), Xylishine, Baicapil, Bisabolol.
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">165.000 VNĐ</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-sm-12 text-center">
        <h2 class="intro"><i>Sản phẩm KHUYẾN MÃI</i></h2>
    </div>
    <section class="py-5" style="font-family: Poppins, Helvetica, sans-serif;">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Khuyến mãi</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4394607766854_2aca12462b79836bb49c3bf9aeef6bd1_1_fe9bcfe8db.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Nước tẩy trang bí đao 500ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Mua 1 nước tẩy trang bí đao 500ml.
                                        Tặng 1 nước tẩy trang bí đao 500ml.
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"><del>590.000 VNĐ</del></span>
                                295.000 VNĐ
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Khuyến mãi</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/z4389424986730_1e574bdd58278206885aaafd9cf54665_f04a0b7f9b.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Kem chống nắng bí đao 50ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Mua Kem chống nắng bí đao 50ml 395.000 VNĐ.
                                        Tặng Nước tẩy trang bí đao 500ml 295.000 VNĐ.
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"><del>690.000 VNĐ</del></span>
                                395.000 VNĐ
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Khuyến mãi</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/Artboard_26_copy_3_306c1ea1ba.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Combo sáng da từ nghệ Hưng Yên</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
Combo sáng da từ nghệ Hưng Yên - Tặng mặt nạ nghệ Hưng Yên 30ml
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"><del>535.000 VNĐ</del></span>
                                390.000 VNĐ
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Khuyến mãi</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.cocoonvietnam.com/uploads/Artboard_26_copy_4_62c6d42f96.png" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Gel rửa mặt cà phê 140ml + Tẩy da chết mặt cà phê 150ml</h5>
                                <!-- Product reviews-->
                                <div class="text-dark mb-2">
                                    <p>
                                        Combo Gel rửa mặt cà phê 140ml + Tẩy da chết mặt cà phê 150ml tặng Tẩy da chết cơ thể cà phê Đắk Lắk 200ml
                                    </p>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"><del>485.000 VNĐ</del></span>
                                360.000 VNĐ
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--Link of ColoSgop Template-->
    <script src="~/homepage/js/jquery-3.2.1.min.js"></script>
    <script src="~/homepage/styles/bootstrap4/popper.js"></script>
    <script src="~/homepage/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/homepage/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/homepage/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/homepage/plugins/easing/easing.js"></script>
    <script src="~/homepage/js/custom.js"></script> 
</body>
</html>
