<div class="colorlib-about">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-6 mb-3">
                <img src="https://media.vneconomy.vn/images/upload/2022/12/12/1-5.jpg" style="width:90%;height:90%;">
            </div>
            <div class="col-sm-6">
                <div class="about-wrap">
                    <h2>Triết lý thương hiệu</h2>
                    <br>
                    <p><i>COCOON - Mỹ phẩm thuần chay - Cho nét đẹp thuần Việt</i></p>
                    </br>
                    <br>
                    <p><b>Triết lý</b></p>
                    </br>
                    <p>
                        Chúng tôi là những người yêu thiên nhiên, luôn say đắm trong việc khám phá các nguyên liệu quen thuộc trong đời sống hằng ngày
                        của người Việt Nam từ rau củ, trái cây, để làm sao để đưa chúng vào trong các sản phẩm mỹ phẩm mà các chất dinh dưỡng của
                        chúng được giữ lại một cách nguyên vẹn và hoàn hảo. Những thực phẩm này rất giàu vitamin, chất chống oxi hóa và các khoáng chất
                        để tăng cường sức khỏe của làn da. Vậy còn gì tuyệt vời hơn là đưa chúng lên làn da của bạn một cách trọn vẹn nhất có thể.
                        Qua quá trình nghiên cứu và thử nghiệm, những công thức được hình thành và trở nên hoàn hảo.
                        Chúng đã phát huy tác dụng và đáp ứng được mong mỏi của người Việt: an toàn và hiệu quả.
                        Đối với chúng tôi, những gì đưa lên da phải an toàn, hiệu quả và không có nguồn gốc từ động vật
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>